body {
    display: block;
    width: 100%;
    padding: 0px; 
    margin: 0px;
}
main {
    display: block;
    width: 100%;
    height: 100vh;
    background-color: transparent;
    background-image: url('img/isi_clipped.jpg');
    background-size: fit;
    background-position: center right;
}