html {
    background-color: #d61a2f;
}
body {
    display: block;
    width: calc(100% - 24px);
    height: calc(100vh - 12px);
    margin: 12px; 
    background-color: white;
    background-image: url('img/siphon_clipped.jpg');
    background-size: fit;
    background-position: center left;  
    background-repeat: no-repeat;
}
main {
    display: block;
    width: 100%;
    height: 100%;
    background-color: white;
    background-image: url('img/isi_clipped.jpg');
    background-size: fit;
    background-position: center right;  
    background-repeat: no-repeat;
}