html {
    background-color: #dadada;
}
body {
    display: block;
    width: 100%;
    margin: 0px;
    background-color: white;
    background-image: url('img/siphon_clipped.jpg');
    background-size: contain;
    background-position: top left;  
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Raleway', sans-serif;
}
h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background-color: transparent;
    background-image: url('img/isi_clipped.jpg');
    background-size: contain;
    background-position: top right;  
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.content {
    display: block;
    width: 96%;
    max-width: 1000px;
    padding: 24px;
    box-sizing: border-box;
    color: #555555;
    background-color: white;
    
}

.content_inner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: flex-start;
}

.content h1 {
    font-size: 5vmin;
}

.mc-field-group {
    display: block;
}

.mc-field-group input,
.mc-field-group label {
    display: block;
    width: 100%;
}

.mc-field-group input {
    border: none;
    background-color: #fff;
    padding: 12px 24px;
    box-sizing: border-box;
    color: #555555;
    font-size: 1em;
    border: none;
    margin-bottom: 12px;
    border: solid 1px #f4f4f4;
    border-radius: 6px;
    background-color: #f4f4f4;
}

.mc-field-group label {
    font-size: 0.9em;
    padding: 6px;
    box-sizing: border-box;
}

.button {
    padding: 12px 24px;
    background-color: #de3a3a;
    color: white;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    margin-top: 24px;
    border: none;
    border-radius: 48px;
}
.indicates-required {
    font-size: 0.8em;
    padding: 6px;
}

.form {
    display: block;
    width: 100%;
    max-width: 400px;
    padding: 24px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 6px;
}

.terms {
    display: block;
    width: 100%;
    max-width: 400px;
    padding: 24px;
    box-sizing: border-box;
}

.terms p {
    font-size: 0.8em;
}

.boxShadow {
    -webkit-box-shadow: 0px 0px 36px -5px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 36px -5px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 36px -5px rgba(0,0,0,0.25);
}

.boxShadow--inset {
    -webkit-box-shadow: inset 0px 0px 12px -2px rgba(0,0,0,0.35);
    -moz-box-shadow: inset 0px 0px 12px -2px rgba(0,0,0,0.35);
    box-shadow: inset 0px 0px 12px -2px rgba(0,0,0,0.35);
}